build/ 
build_win/
vcpkg/

imagesequence/


*.exe
*.csv 

outputs/benchmark_data/**/*
outputs/validation_figures/**/*
outputs/rendered_frames/**/*
!outputs/benchmark_data/.gitkeep
!outputs/validation_figures/.gitkeep
!outputs/rendered_frames/.gitkeep

.vscode/
.venv/

__pycache__/